body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.content h1 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  color: grey;
  font-size: 21px;
}

.outbound {
  padding-top: 20px;
}

footer {
  text-align: right;
}
